.footer-img{
    background-image: url(../images/contact-img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ft-ic{
    font-size: 2rem;
    
}
.love{
    color: #eb1c24;
    font-size: 1.5rem;
}